@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
:root {
    --services-title-color:rgba(34, 34, 34, 1);
    --contact-background-color:rgba(34, 34, 34, 1);
    --contact-title-color:rgba(255, 255, 255, 1);
    --button-text-color:rgba(255, 255, 255, 1);
    --header-link-color:rgba(254, 209, 54, 1);
    --header-logo-color:rgba(254, 209, 54, 1);
    --contact-button-color:rgba(254, 209, 54, 1);
    --services-desc-text-color:rgba(119, 119, 119, 1);
    --label-text-color:rgba(187, 187, 187, 1);
    --input-field-border-color:rgba(204, 204, 204, 1);
    --main-font:'Montserrat',sans-serif;
    --desc-font:'Roboto Slab',sans-serif;
    --logo-font:'Bilbo Swash Caps',sans-serif;
}

body {
    font-size: 14px;
    font-family: var(--main-font);
}

.container {
    width: 942px;
    margin: 0 auto;
}

.header-logo {
    text-decoration: none;
    color: var(--header-logo-color);
    font-size: 36px;
    line-height: 41px;
    font-family: var(--logo-font);
}

.header-link {
    line-height: 41px;
    color: var(--header-link-color);
    text-decoration: none;
    padding: 14px 10px;
}

.header {
    padding-top: 44px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-list {
    display: flex;
    gap: 10px;
}

.services {
    padding-top: 109px;
    padding-bottom: 119px;
    text-align: center;
}

.services-title {
    font-size: 40px;
    color: var(--services-title-color);
    line-height: 75px;
    padding-bottom: 87.5px;
    font-weight: bold;
}

.services-icon {
    height: 39px;
    width: 39px;
    flex-shrink: 0;
    fill: var(--header-logo-color);
}
.services-box {
    width: 70px;
    height: 70px;
    border: 3px solid var(--contact-button-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.services-subtitle {
    font-size: 18px;
    font-weight: bold;
    line-height: 75px;
    color: var(--services-title-color);
}

.services-desc {
    color: var(--services-desc-text-color);
    font-family: var(--desc-font);
    width: 290px;
}

.services-list {
    display: flex;
    gap: 56px;
    justify-content: center;
}

.contact {
    padding-top: 92px;
    padding-bottom: 115px;
    background-color: var(--contact-background-color);
    text-align: center;
}

.contact-title {
    font-size: 40px;
    font-weight: bold;
    color: var(--contact-title-color);
    padding-bottom: 114px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap:28px;
}

.contact-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 28px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.contact-input {
    padding: 12px 0px 21px 20px;
    background-color:white;
    border:1px solid var(--input-field-border-color);
    border-radius:3px;
    color: var(--label-text-color);
    font-weight: bold;
    width: 455px ;
    font-family: var(--main-font);
}


.contact-textarea {
    color: var(--label-text-color);
    font-weight: bold;
    background-color:white;
    border:1px solid var(--input-field-border-color);
    border-radius:3px;
    width: 458px;
    height: 212px;
    padding: 14px 0px 0px 22px;
    font-family: var(--main-font);
}


.contact-button {
    color: var(--button-text-color);
    background-color: var(--contact-button-color);
    font-size: 18px;
    font-weight: bold;
    padding: 22px 45px;
    border-radius: 3px;
    text-align: center;
    border: none;
    margin-top: 27px;
    margin: 0 auto;
    font-family: var(--main-font);
}